body {background-color: rgb(35, 240, 179);}


h1 {
	font-family: Calibri;
	color: black;
	text-align: center;
	font-weight: bold;
    font-size: 70px;
}

h2 {
	font-family: Calibri;
	color: black;
	text-align: center;
	font-weight: bold;
}

h3 {
    font-family: Calibri;
    color: black;
    text-align: center;
    font-weight: bold;
}

textarea {

   font-family:"Calibri";  
   font-size: 18px; 
   color:#545454;  
}
